<div class="container">
    <div class="helpcontainer">
        Altru is a web application devoted to putting those in need of help in touch with those willing to give. With Altru you
        can know exactly where the help you are willing to give is going. You can build a real relationship with someone
        who is in a dire situation and can see your help actually make a difference. Altru is devoted to connecting people
        with only a desire to see humanity be the best it can be.
    </div>
    <div class="row"></div>
    <div class="col" id="backbutton">
        <div class="text-center"><%= link_to 'Back?', root_path, class: "btn" %></div>
    </div>
</div>