/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 nav {
     display: block;
     background-color: tan;
     box-shadow: 2px 2px 2px #000000;
 }

.container {
    font-family: 'Ubuntu', sans-serif;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: tan;
    color: white;
    text-align: center;
    font-size: 1vw;
    box-shadow: 0 -2px 2px #000000;
}

.btn-delete {
    height: 20px;
    width: 80px;
    font-size: 10px;
}

.splashtitle {
    font-size: 8vw;
}

.tree {
    position: relative;
}

.header {
    padding-top: 15px;
    padding-bottom: 10px;
}

.btn {
    background-color: white;
    color: black; 
    font-size: 12px; 
    box-shadow: 5px 5px 5px #000000;
}


.needer-msg {
    color: red
}

.user {
    text-decoration: bold;
}

html {
    height: 100%;
}

body {
    height: 100px;
    margin: 0;
    background: linear-gradient(white, rgb(252, 239, 206));
    background-attachment: fixed;
}

.helpcontainer {
    margin-top: 30px;
    width: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.connect {
    padding: 10px;
    text-decoration: underline;
    font-size: 2vw;
}

.user-connect {
    margin: 30px 0;
}

.user-name {
    padding: 5px;
}

.new-user {
    margin-top: 50px;
    padding: 20px;
}

#backbutton {
    margin-top: 50px;
}

#welcome-user {
    padding: 10px;
}